<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//rawgithub.com/mgcrea/bootstrap-additions/master/dist/bootstrap-additions.min.css">
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <!-- <script src="/bootstrap/dist/js/bootstrap.js"></script> -->
    <script src="/angular-cookies/angular-cookies.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" ng-controller="MainController">
    <div class="navbar navbar-default" role="navigation" bs-navbar>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bestest Buy</a>
      </div>
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="btn btn-lg btn-primary" data-animation="am-flip-x" bs-dropdown="dropdownCategories">Categories</li>
          <li class="btn btn-lg btn-primary" data-animation="am-flip-x" bs-dropdown="dropdownGenres">Genres</li> 
          <!-- <li data-match-route="/?(navbar)?"><a href="#/">Home</a></li> -->
          <!-- <li data-match-route="/page-one"><a href="#/page-one">Page One</a></li> -->
          <!-- <li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Page Two</a></li> -->
        </ul>
      <button type="button" class="fa fa-shopping-cart fa-3x pull-right" data-placement="right" data-animation="am-slide-right" template="/js/common/directives/aside/aside.html" bs-aside="aside" data-container="body">
      </div>
    </div>
        


    <div ui-view></div>
</body>
</html>