.editable-checklist label {
  display: block;
}

input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: 0;
}

#add-product-desc {
	resize: vertical;
}