
footer{
	border: solid;
}

footer .footertitle{
	font-size: 2em;
}

#home_banner img{

  display:block;
  margin:auto;
  height: 15%;
  width: 15%;

}

#home_banner p{

  text-align: center;
  font-style: italic;
  font-size: 2em;

}

li {
  list-style-type: none;
}