
footer{
	border: solid;
}

footer .footertitle{
	font-size: 2em;
}

#home_banner img{

  display:block;
  margin:auto;
  height: 15%;
  width: 15%;

}

#home_banner p{

  text-align: center;
  font-style: italic;
  font-size: 2em;

}

li {
  list-style-type: none;
}

.game_photo{
  height: 350px;
}

.game_title{
  height: 70px;
}

.game_platform{

  height: 30px;
}

.game_price{
  height: 30px;
}

.game_price h5{
  color: red;
  font-weight: 500;
}

#platform_buttons {
  text-align: center;
  margin: 40px;
  padding: 40px;
}
