
footer{
	border: solid;
}

footer .footertitle{
	font-size: 2em;
}

#home_banner img{

  display:block;
  margin:auto;
  height: 25%;
  width: 25%;

}

#home_banner h2{

  text-align: center;
  font-style: italic;
  font-size: 2em;

}

li {
  list-style-type: none;
}

.game_photo{
  height: 350px;
}

.game_title{
  margin-top: 35px;
  height: 70px;
}

.game_platform{
  height: 30px;
}

.game_price{
  height: 30px;
}

.game_price h5{
  color: red;
  font-weight: 500;
}

#platform_Buttons{
  margin: 10px;
  text-align: center;
  margin-bottom: 30px;
}

#platform_Buttons h4{
  margin-top: 20px;
  text-align: center;
}

#copy {
  text-align: center;
}