<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive center-block" ng-src="{{product.image}}" alt="" >
      <h5 class="text-center">{{product.price/100 | currency}}</h5>
      
      

      <button class="btn btn-success btn-block" add-to-cart="product"><i class="fa fa-lg fa-fw fa-cart-plus"></i>&nbsp;Add to cart</button>
    </div>
    <div class="col-sm-9">

      <div class="text-left">
        <h3>{{product.title}}</h3>
        <h4>{{product.platform}}</h4>
      </div>
      <div bs-active-pane="activeTab" bs-tabs nav-class="nav-tabs nav-justified">
        <div data-title="Description" class="product-detail__pane" ng-bind-html="product.description" bs-pane></div>
        <div data-title="Reviews" bs-pane>
          <div class="product-detail__pane">
            <a ng-if="!isLoggedIn" class="btn btn-primary btn-block" ui-sref="user">Sign Up / Sign In to leave a review</a>
            
            <button ng-if="isLoggedIn" type="button" class="btn btn-block btn-primary" data-title="Write a review of this product" data-template="js/product-detail/review-form.html" data-animation="am-fade-and-slide-top" bs-modal>
              Leave a review
            </button>
          </div>
     
          <review content="r" ng-repeat="r in product.reviews track by r._id"></review> 
        </div>
        <div data-title="Related" bs-pane> 
          <!-- <div class="container"> -->
            <div class="product-detail__pane">
              <div class="col-xs-4 text-left" ng-repeat="recommendedProduct in recommendedProducts">
                
                <img class="img-responsive center-block" ui-sref="product-detail({ _id:product._id })" ng-src="{{recommendedProduct.image}}" alt="" >
                <h4 class="">{{recommendedProduct.price/100 | currency}}</h4>
                <h5>{{recommendedProduct.title}}</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>