#search-filters {
  border-left: 5px solid #d1d1d1;
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: auto;
}

.product-thumbnail {
  .text-container{
    height: 200px;
  }
  .img-container {
    height: 280px;
    .img-responsive {
      max-height: 300px;
      cursor: pointer;
      margin: auto;
    }
  }
}

.category-items {
	cursor: pointer;
}