<div class="container">

  <login ng-if="!isAuthenticated"></login>

  <div class="container" ng-if="isAuthenticated">
    <!-- {{user | json}} -->
    <div class="row" ng-if="user.isAdmin">
      <div class="col-xs-9" style="word-wrap: break-word">
        <h3>Welcome {{user.firstName}} {{ user.lastName }}!</h3>
        <!-- <img ng-src="{{user.photoUrl}}" class="img-responsive" style=""> -->
      </div>
      <div class="col-xs-3">
        <button class="btn btn-danger btn-block" ng-click="logout()">Logout</button>
      </div>
    <hr>
    </div>
    <div class="row">
      <!-- Authenticated Users -->
      <span ng-if="!user.isAdmin">
        <h3>Welcome {{user.firstName}} {{ user.lastName }}!</h3>
        <hr>
        <div class="col-md-3">
          <div style="word-wrap: break-word">
            <h4>Your Profile</h4>
            <img ng-src="{{user.photoUrl}}" class="img-responsive">
            <button class="btn btn-danger btn-block" ng-click="logout()">Logout</button>
          </div>
        </div>
        <div class="col-md-9">
          <div bs-active-pane="activeTab" bs-tabs nav-class="nav-tabs nav-justified">
            <div data-title="Account" bs-pane>
              <ng-include src="'js/account-tabs/authenticated/account.html'"></ng-include>
            </div>
            <div data-title="Address" bs-pane>
              <ng-include src="'js/account-tabs/authenticated/address.html'"></ng-include>
            </div>
            <div data-title="Payment" bs-pane>
              <ng-include src="'js/account-tabs/authenticated/payment.html'"></ng-include>
            </div>
          </div>
        </div>
      </span>


      <!-- Admin Users -->
          {{products[0] | json}}
      <span ng-controller="EditableRowCtrl">
      <div class="col-xs-12" ng-if="user.isAdmin">
        <div bs-active-pane="activeTab" bs-tabs nav-class="nav-tabs nav-justified">
          <div data-title="Account" bs-pane>
            <ng-include src="'js/account-tabs/authenticated/account.html'"></ng-include>
          </div>
          <div data-title="Products" bs-pane>
            <ng-include src="'js/account-tabs/admin/products.html'"></ng-include>

          </div>
          <div data-title="Categories" bs-pane>

          </div>
          <div data-title="Orders" bs-pane>

          </div>
          <div data-title="User Management" bs-pane>

          </div>
        </div>
        <hr>
      </div>
      </span>
    </div>

    <hr>

    <!-- List Pane for Admin Users -->
    <!-- Products Tab -->



    <!-- Past Orders or Authenticated Users -->
    <div ng-if="!user.isAdmin">
      <h4>Past Orders</h4>
      <ul>
        <div ng-repeat="order in previousOrder | orderBy : '-createdAt'" class="well">
          <!-- {{order | json}} -->
          <h6 class="text-right">Order Date: {{order.createdAt | date : "MM/dd/yyyy 'at' h:mma" }}</h6>
          <div class="products row">
            <div ng-repeat="product in order.products" class="col-sm-2">
              <!-- {{product|json}} -->
              <a ui-sref="product-detail(product.product)"><img class="img-responsive" ng-src="{{product.product.image}}">
              </a>
              <h5>{{product.product.title}}</h5>
              <h6>{{product.purchasedPrice / 100 | currency}}</h6>
              <h6>Purchased Quantity: {{product.quantity}}</h6>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- Close container -->
