<div class="container">

  <login ng-if="!isAuthenticated"></login>

  <div class="container" ng-if="isAuthenticated">
    {{user | json}}
    <hr>
    <h3>Welcome {{user.firstName}} {{ user.lastName }}!</h3>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div style="word-wrap: break-word">
          <h4>Your Profile</h4>
          <i class="fa fa-user-secret fa-4x" ng-if="user.isAdmin" style="display:inline"></i>
          <img ng-src="{{user.photoUrl}}" class="img-responsive">
          <button class="btn btn-primary btn-block">Change Picture</button>
          <button class="btn btn-danger btn-block" ng-click="logout()">Logout</button>
        </div>
      </div>
      <!-- Authenticated Users -->
      <div class="col-md-9" ng-if="!user.isAdmin">
        <div bs-active-pane="activeTab" bs-tabs nav-class="nav-tabs nav-justified">
          <div data-title="Account" bs-pane>
            <ng-include src="'js/account-tabs/authenticated/account.html'"></ng-include>
          </div>
          <div data-title="Address" bs-pane>
            <ng-include src="'js/account-tabs/authenticated/address.html'"></ng-include>
          </div>
          <div data-title="Payment" bs-pane>
            <ng-include src="'js/account-tabs/authenticated/payment.html'"></ng-include>
          </div>
        </div>
      </div>


      <!-- Admin Users -->
      <div class="col-md-9" ng-if="user.isAdmin">
        <div bs-active-pane="activeTab" bs-tabs nav-class="nav-tabs nav-justified">
          <div data-title="Account" bs-pane>
            <ng-include src="'js/account-tabs/authenticated/account.html'"></ng-include>
          </div>
          <div data-title="Products" bs-pane>

          </div>
          <div data-title="Categories" bs-pane>

          </div>
          <div data-title="Orders" bs-pane>

          </div>
          <div data-title="User Management" bs-pane>

          </div>
        </div>
        <hr>
      </div>
    </div>

    <hr>

    <!-- List Pane for Admin Users -->
    <div ng-controller="EditableRowCtrl">
      <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
          <td style="width:30%">Title</td>
          <td style="width:5%">Price</td>
          <td style="width:5%">Inventory</td>
          <td style="width:10%">Availability</td>
          <td style="width:25%">Categories</td>
          <td style="width:20%">Availability</td>
        </tr>
        <tr ng-repeat="user in users">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
              {{ user.name || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable status (select-local) -->
            <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
              {{ showStatus(user) }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
              {{ showGroup(user) }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
              <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
            </div>  
          </td>
        </tr>
      </table>

      <button class="btn btn-default" ng-click="addUser()">Add row</button>
    </div>



    <!-- Past Orders or Authenticated Users -->
    <div ng-if="!user.isAdmin">
      <h4>Past Orders</h4>
      <ul>
        <div ng-repeat="order in previousOrder | orderBy : '-createdAt'" class="well">
          <!-- {{order | json}} -->
          <h6 class="text-right">Order Date: {{order.createdAt | date : "MM/dd/yyyy 'at' h:mma" }}</h6>
          <div class="products row">
            <div ng-repeat="product in order.products" class="col-sm-2">
              <!-- {{product|json}} -->
              <a ui-sref="product-detail(product.product)"><img class="img-responsive" ng-src="{{product.product.image}}">
              </a>
              <h5>{{product.product.title}}</h5>
              <h6>{{product.purchasedPrice / 100 | currency}}</h6>
              <h6>Purchased Quantity: {{product.quantity}}</h6>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div> <!-- Close container -->
