<div>
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:15%">First Name</td>
      <td style="width:15%">Last Name</td>
      <td style="width:15%">Admin?</td>
      <td style="width:10%">Edit</td>
    </tr>
    <tr ng-repeat="user in allUsers">
      <td>
        <span editable-text="user.firstName" e-name="firstName" e-form="userForm" e-required>
          {{ user.firstName || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-text="user.lastName" e-name="lastName" e-form="userForm" e-required>
          {{ user.lastName || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-text="user.isAdmin" e-name="isAdmin" e-form="userForm" e-required>
          {{ user.isAdmin }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="userForm" onbeforesave="updateUser($data,$index)" ng-show="userForm.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="userForm.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!userForm.$visible">
          <button class="btn btn-primary" ng-click="userForm.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>  
      </td>
    </tr>
  </table>
</div>