<div class="container">

	<hr>
	<h3>Your Cart</h3>
	<cart>
    	<cart-item item="item" ng-repeat="item in cart.items track by $index"></cart-item>  
    </cart>
	<h4>Total: {{total / 100 | currency}}</h4>
	<hr ng-if="user">
	<h3 ng-if="user">Payment Methods</h3>


	<!-- modal -->
	<button ng-if="!user" class="btn btn-lg btn-primary" ui-sref="user">Go to Sign In</button>

	<button ng-if="user" type="button" class="btn btn-lg btn-primary" data-placement="center" data-template="js/checkout/paymentForm.html" bs-modal="modal">PAY WITH CREDIT CARD
	</button>

	<div class="row">
	  <div class="span4 offset4">
	    <div class="row">
	      
	      <div class="span4">
	        <h3>Total: {{total / 100 | currency}}</h3>
	      </div>
	      
	      <form stripe-form="handleStripe" name="myForm">

	        <div class="span3">
	          <label for="">Card number</label>
	          <input type="text" class="input-block-level" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
	        </div>
	        
	        <div class="span1">
	          <label for="">Expiry</label>
	          <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
	        </div>
	        
	        <div class="span3">
	          <label for="">Name on card </label>
	          <input type="text" class="input-block-level">
	        </div>
	        
	        <div class="span1">
	          <label for="">CVC</label>
	          <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
	        </div>
	        
	        <div class="span4">
	          <button type="submit" class="btn btn-primary btn-large">Submit</button>
	        </div>
	      </form>

	    </div>
	  </div>
	</div>
</div>

