<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">


        <h4>Your balance is {{total / 100 | currency}}</h4>
        <h6 class="alert alert-danger">{{error.message}}</h6>
        <form action="api/stripe" method="POST" id="payment-form">
          <span class="payment-errors"></span>

          <div>
            <label>
              <span>Recipient</span>
            </label>
              <input type="text" />
          </div>


          <div class="form-row">
            <label>
              <span>Card Number</span>
              <input type="text" size="20" ng-model="payment.card.number" value="4242424242424242" />
            </label>
          </div>

          <div class="form-row">
            <label>
              <span>CVC</span>
              <input type="text" size="4" ng-model="payment.card.cvc" value="1234" />
            </label>
          </div>

          <div class="form-row">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" ng-model="payment.card.exp_month" value="11" />
            </label>
            <span> / </span>
            <input type="text" size="4" ng-model="payment.card.exp_year" value="2016" />
          </div>
        </form>
      </div>

      <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
              <button type="button" class="btn btn-primary" ng-click="charge()">Submit Payment</button>
      </div>
    </div>
  </div>
</div>
