<section class="container" id="home">
    <body>
        <div id="home_banner">
            <img  src="images/dTraXb8Ec.png">
            <h2>The Premier Video Game Outlet</h2>
        </div>
        <div id="platform_Buttons">
            <h4>Select Your Console</h4>
            <button class="btn btn-inline-block btn-primary" ng-click="setPlatform('PlayStation 3')">PlayStation 3</button>
            <button class="btn btn-inline-block btn-primary" ng-click="setPlatform('PlayStation 4')">PlayStation 4</button>
            <button class="btn btn-inline-block btn-primary" ng-click="setPlatform('Xbox 360')">Xbox 360</button>
            <button class="btn btn-inline-block btn-primary" ng-click="setPlatform('Xbox One')">Xbox One</button>
            <button class="btn btn-inline-block btn-primary" ng-click="setPlatform('Nintendo Wii U')">Nintendo Wii U</button>
        </div>
        <div class="row">
            <div ng-repeat="product in object[platform]" class="col-xs-6 col-sm-3">
                <div class="game_photo">
                    <a href="products/{{product._id}}"> <img class="img-responsive"  ng-src="{{product.image}}"> </a>
                </div>
                <div class="game_title">
                    <h4 class="text-center">{{product.title}}</h4>
                </div>
                <div class="game_platform">
                    <h4 class="text-center"><strong>{{product.platform}}</strong>
                </div>
                <div class="game_price">
                    <h5 class="text-center">{{product.price / 100 | currency}}</h5>
                </div>
            </div>
        </div>
    </body>
    <p id="copy">Copyright &copy; BestestBuy | 2015</p>
</section>