* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#gravatar {
	border-radius: 100%;
	background-color: gray;
	height: 100px;
	width: 100px;
}

#cart-btns {
	button {
		display: block;
		width: 200px;
	}
}

@import 'bootswatch/main';
@import 'home/main';
