* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#gravatar {
	border-radius: 100%;
}

@import 'bootswatch/main';
@import 'home/main';