* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}



// Skeleton CSS
#gravatar {
	border-radius: 100%;
	background-color: gray;
	height: 100px;
	width: 100px;
	margin: auto;
	padding: 0;
}

.cart-btns {
	button {
		margin: auto;
		display: block;
		width: 200px;
	}
}

.cart-display {
	height: 500px;
}

.cart-items {
	// max-height: 95%;
	height: 450px;
	width: 95%; 
	margin: auto;
	border: 2px groove #d1d1d1;
	overflow-y: auto;
	.media {
		width: 250px;
	}
	.media-body {
		width: 100%;
		height: 80px;
		h4 {
			font-size: 14px;
			font-weight: bold;
		}
	}
	.media-object {
		height: 80px;
		width: 60px;
	}
}


@import "../../bower_components/colors/sass/colors";
@import "vendor/main";
@import "product-search/main";
@import "product-detail/main";
@import "home/main";
